extends layouts/_application

block vars
  - var bodyTemplate = "home"

block content
  section.main
    .main__column.splash
    .main__column.content
      h2 Aloha no, I&rsquo;m Taylor Ho.
      h4 I am a front-end web developer with over five years of <strike>polished</strike> experience.
      - for (var i=0; i<20; i++)
        h1 right column