extends layouts/_application

block vars
  - var bodyTemplate = "home"

block content
  section.main
    .main__column.splash
    .main__column.content
      h2 Aloha no, I&rsquo;m Taylor Ho.
      h4 I am a front-end web developer and production professional with over five years of <strike>polished</strike> experience.
      //- It has been my goal to create viable products on the web for freelance and agency clients alike. Intuitive and usable user interface experiences are always need-to-have&rsquo;s, with technology and design as my tools.
      - for (var i=0; i<20; i++)
        h1 right column