extends layouts/_application

block vars
  - var bodyTemplate = "home"

block content
  section.splash
    .splash__container
      .splash__container__column
        h1 Life is about staying fresh.
        h4 A web developer with a knack for learning new things.
      .splash__container__column
        p From <a href="#">web development</a> to <a href="#">video production</a> to motion graphics. <br>I constantly find myself in new fields of creativity. <br>I believe it takes understanding <em>all sorts of skills</em> to innovate.