extends layouts/_application

block vars
  - var bodyTemplate = "home"

block content
  section.splash
    .splash__container
      h1 Life is about<br> staying fresh.
      h4 A web developer with a knack<br> for learning new things.
      //- p No really, I love keeping up on new things.