extends layouts/_application

block vars
  - var bodyTemplate = "home"

block content
  section.main
    .main__column.splash
    .main__column.content
      h3 Aloha no, I&rsquo;m Taylor Ho.
      h3 I am a front-end developer from the Aloha State with over five years of <strike>polished</strike> experience. Making things for people to enjoy on the web is what I do best.
      include _modules/_projects.jade