.btn {
  display: inline-block;
  letter-spacing: .05rem;
  color: #fff;
  text-decoration: none;
  &--plain {
    font-weight: 600;
  }
  &--filled {
    padding: calc($column-gutter/4) calc($column-gutter/2);
    text-transform: uppercase;
    border: 2px solid transparent;
    border-radius: 4px;
    font-size: .85rem;
    &-primary {
      border-top: 1px solid color($c-primary tint(25%));
      border-bottom: 1px solid color($c-primary shade(25%));
      &,
      &:focus {
        background-color: $c-primary;
        color: #fff;
      }
      &:hover {
        background-color: color($c-primary tint(10%));
      }
      &:active {
        background-color: color($c-primary shade(10%));
      }
    }
    &-white {
      background-color: #fff;
      color: $c-primary;
    }
  }
}

@media screen and (min-width: $mobile-width) {
  .btn {
    &--filled {
      transition: all 150ms ease-out;
    }
    &--tooltip {
      position: relative;
      &:before,
      &:after {
        pointer-events: none;
      }
      &:before {
        content: "";
        position: absolute;
        bottom: -.25rem;
        left: 50%;
        width: 0;
        height: 0;
        border-left: .25rem solid transparent;
        border-right: .25rem solid transparent;
        border-bottom: .25rem solid color(#fff a(75%));
        opacity: 0;
        transform: translate(-50%,-.25rem);
        transition: all 500ms ease-out;
      }
      &:after {
        content: attr(data-tooltip);
        position: absolute;
        bottom: 0;
        left: 50%;
        opacity: 0;
        transform: translate(-50%, calc(100%));
        color: #fff;
        border-radius: .125rem;
        background-color: color(#fff a(75%));
        color: $c-body-font;
        padding: .5rem;
        font-size: .75rem;
        max-width: 240px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: center;
        transition: all 500ms ease-out;
      }
      &:hover {
        &:before {
          opacity: 1;
          transform: translate(-50%,0);
        }
        &:after {
          opacity: 1;
          transform: translate(-50%, calc(100% + .25rem));
        }
      }
    }
  }
}