.Wallop {
  &-list {
    text-align: center;
    padding: calc($column-gutter/2) calc($column-gutter/2) calc($column-gutter/4);
  }
  &-item {
    max-height: 300px;
    width: auto;
  }
  &-pagination {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: calc($column-gutter/2);
    &__option {
      position: relative;
      height: 70px;
      width: 70px;
      opacity: .5;
      transition: opacity 150ms ease-out;
      margin: 0 calc($column-gutter/4);
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        max-height: 100%;
        max-width: 100%;
      }
      &.is-active {
        opacity: 1;
      }
    }
    &__arrow {
      position: absolute;
      top: 0;
      height: 100%;
      display: flex;
      cursor: pointer;
      background: transparent;
      border: 0;
      -webkit-appearance: none;
      outline: none;
      &:focus,
      &:hover {
        background-color: color(#000 a(.05));
      }
      &:active {
        background-color: color(#000 a(.075));
      }
      &--prev {
        left: 0;
      }
      &--next {
        right: 0;
        transform: scaleX(-1);
      }
      img {
        width: 24px;
        height: auto;
      }
    }
  }
}

@media screen and (min-width: $mobile-width) {
  .Wallop {
    &-list {
      padding: calc($column-gutter/2) $column-gutter 0;
    }
    &-item {
      max-height: 480px;
    }
    &-pagination {
      padding: calc($column-gutter/2) 5rem;
      &__option {
        height: 100px;
        width: 100px;
      }
      &__arrow {
        padding: calc($column-gutter/2);
        &--prev {
          left: 0;
        }
        &--next {
          right: 0;
        }
        img {
          width: 40px;
        }
      }
    }
  }
}