.content {
  line-height: 1.75;
  > h2 {
    font-size: 200%;
    margin: calc($column-gutter*2) 0 0;
  }
  > h3 {
    font-size: 125%;
    margin: 0 0 calc($column-gutter*4);
  }
}

@media screen and (min-width: $mq-split) {
  .content {
    > h2 {
      margin: calc($column-gutter*8) 0 0;
    }
    > h3 {
      font-size: 150%;
      margin: 0 0 calc($column-gutter*8);
    }
  }
}