.content {
  line-height: 1.75;
  > h3 {
    font-size: 125%;
    margin: 0;
    &:first-of-type {
      margin-top: calc($column-gutter*2);
    }
    &:last-of-type {
      margin-bottom: calc($column-gutter*4);
    }
  }
}

@media screen and (min-width: $mq-split) {
  .content {
    > h3 {
      font-size: 150%;
      &:first-of-type {
        margin-top: calc($column-gutter*8);
      }
      &:last-of-type {
        margin-bottom: calc($column-gutter*8);
      }
    }
  }
}