.intro {
  padding: 0 0 calc($column-gutter*3);
  &__main {
    position: relative;
    z-index: 200;
    lost-center: $row-width;
    padding-left: $column-gutter;
    padding-right: $column-gutter;
  }
  &__copy {
    lost-column: 1;
  }
  p {
    font-size: 1.25rem;
    &:first-of-type {
      margin-top: 0;
    }
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  strong {
    color: $c-primary;
  }
}

@media screen and (min-width: 768px) {
  .intro {
    padding: 0 0 calc($column-gutter*6);
    &__copy {
      lost-column: 1/2;
      float: right;
    }
  }
}

.skills {
  lost-utility: clearfix;
  &__skill {
    lost-column: 1/2 2;
    margin-bottom: $column-gutter;
    &:nth-last-of-type(-n+1) {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      margin-bottom: 0;
    }
  }
  svg {
    display: block;
    max-width: 100px;
    height: auto;
    margin: 0 auto .5rem;
  }
  h5 {
    margin: 0;
    font-size: .75rem;
    font-weight: 400;
    text-align: center;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

@media screen and (min-width: 375px) {
  .skills {
    &__skill {
      lost-column: 1/3 3;
      margin-bottom: 0;
      &:nth-last-of-type(-n+1) {
        left: initial;
        transform: translateX(0);
      }
    }
  }
}

.graphic {
  &--uiux {
    &__boxes {
      animation: marching-ants 15s linear infinite;
      stroke-dasharray: 5;
      stroke: $c-primary;
    }
  }
  &--prototyping {
    &__boxes {
      fill: #555;
      stroke: #bbb;
    }
  }
  &--development {
    &__reflection {
      fill: #fff;
    }
  }
}