.main {
  &__column {
    &:first-of-type {
      padding-top: 2rem;
      padding-bottom: 2rem;
    }
  }
}

@media screen and (min-width: $mq-split) {
  .main {
    height: 100vh;
    width: 100%;
    &__column {
      height: 100%;
      lost-column: 1/2 2 0;
      &:last-of-type {
        overflow: scroll;
      }
    }
  }
}