.modal {
  lost-center: $row-width;
  lost-utility: clearfix;
  padding: 0 $column-gutter;
  color: #fff;
  pointer-events: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &__container {
  }
  &__description,
  &__images {
    pointer-events: initial;
  }
  &__description {
    lost-column: 1;
    h3 {
      margin-top: 0;
      b {
        display: block;
        font-size: .85rem;
        color: $c-primary;
      }
    }
  }
  &__images {
    lost-column: 1;
  }
}

@media screen and (min-width: $mobile-width) {
  .modal {
    &__description {
      lost-column: 1/4 2;
    }
    &__images {
      lost-column: 3/4 2;
    }
  }
}

.mfp-close {
  opacity: .8;
  font-family: "Helvetica", sans-serif;
  color: #fff;
  font-weight: 100;
}

.is-active {
  &.mfp-bg {
    opacity: 0;
    transition: all 0.25s ease-out;
    &.mfp-ready {
      opacity: 0.95;
    }
    &.mfp-removing {
      opacity: 0;
    }
  }

  &.mfp-wrap {
    &.mfp-ready .mfp-content {
      opacity: 1;
      transform: scale(1);
    }
    &.mfp-removing .mfp-content {
      opacity: 0;
    }
    .mfp-content {
      opacity: 0;
      /* transform: scale(.95); */
      transition: all 1s ease-out .25s;
    }
  }
}