.header-nav {
  position: relative;
  z-index: 500;
  width: 100%;
  padding: $column-gutter $column-gutter 0;
  margin-bottom: $column-gutter;
  [data-template="home"] & {
    position: absolute;
    top: 0;
    left: 0;
    margin-bottom: 0;
  }
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    lost-center: $row-width;
    &:before, &:after {display: none;}
  }
  &__logo {
    line-height: 1;
    font-weight: 500;
    font-size: 2rem;
    text-decoration: none;
    color: #fff;
    span {
      display: block;
      color: color($c-secondary tint(60%) saturation(15%));
      font-size: 1.5rem;
      transition: color 250ms ease-out;
    }
    &:hover {
      span {
        color: color($c-secondary tint(30%) saturation(15%));
      }
    }
  }
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  /*
    TODO: adjust this link. feels out of place. (ref: barry)
  */
  &__link {
    display: inline-block;
    font-size: .75rem;
    padding: 0.875rem;
    line-height: 1;
    text-decoration: none;
    color: $c-bg-color--dark;
    letter-spacing: .1rem;
    transition: 250ms ease-out color;
    [data-template="about"] & {
      color: #fff;
    }
    &:hover {
      color: #fff;
    }
  }
}