.navigation {
  a { text-decoration: none; }
  [data-sprite="tkmh-logo"] {
    width: 40vw;
    font-family: $body-font-family;
    use {
      fill: #fff;
      color: $c-primary;
      transition: color 250ms $easeOutExpo;
    }
    &:hover use {
      color: color($c-primary tint(10%));
    }
  }
}

@media screen and (min-width: 640px) {
  .navigation {
    [data-sprite="tkmh-logo"] {
      width: 300px;
    }
  }
}