.shortlist {
  margin: $column-gutter 0;
  &:first-of-type { margin-top: 0; }
  &:last-of-type { margin-bottom: 0; }
  &__title {
    margin: 0 0 calc($column-gutter/2);
    font-size: .85rem;
    letter-spacing: .25rem;
    color: $c-primary;
  }
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 1.25;
    font-size: 1.15rem;
    font-weight: 300;
    li {
      margin-bottom: calc($column-gutter/2);
      &:last-of-type {
        margin-bottom: 0;
      }
      .shortlist--images & {
        max-height: 120px;
      }
      > span {
        font-size: .75rem;
        margin-left: calc($column-gutter/4);
        color: #ccc;
      }
    }
  }
}

@media screen and (min-width: $phone-width) {
  .shortlist {
    display: flex;
    margin: calc($column-gutter*2) 0;
    &__title {
      lost-column: 1/5 2;
      margin-bottom: 0;
    }
    &__list {
      lost-column: 4/5 2;
      li {
        margin-bottom: $column-gutter;
      }
    }
  }
}

@media screen and (min-width: $mobile-width) {
  .shortlist {
    margin-top: calc($column-gutter*2);
    margin-bottom: calc($column-gutter*2);
    &__list {
      .shortlist--split & { columns: 2; }
    }
  }
}

@media screen and (min-width: $row-width) {
  .shortlist {
    &__list {
      .shortlist--split & { columns: 3; }
    }
  }
}