.splash {
  width: 100%;
  height: 100%;
  background: $c-primary;
  &__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100%;
    padding: $column-gutter calc($column-gutter * 2);

    color: #fff;

    h1, h4, p {
      margin: 0;
      transition: font 1500ms $easeOutExpo;
    }
    h1 {
      font: 10vw/1 $title-font-family;
      margin-bottom: $column-gutter;
      font-weight: 800;
      font-style: italic;
    }
    h4 {
      color: #ccc;
      font-size: 5vw;
      font-weight: 600;
      letter-spacing: .125vw;
    }
    p {
      font-size: 1.1rem;
      line-height: 1.5;
      margin-top: $column-gutter;
      br {
        display: none;
      }
    }
  }
}

@media screen and (min-width: 640px) {
  .splash {
    &__container {
      h1 {
        font: 5rem/1 $title-font-family;
      }
      h4 {
        font-size: 2rem;
        letter-spacing: .1rem;
      }
    }
  }

}

@media screen and (min-width: 1000px) {
  .splash {
    .flexbox &__container {
      display: flex;
      &__column {
        lost-column: 1/2 2;
        &:nth-of-type(1) {
          h1, h4 {
            max-width: 540px;
            margin-left: auto;
            margin-right: auto;
          }
        }
        &:nth-of-type(2) {
          display: flex;
          align-self: center;
        }
        p {
          display: block;
          margin: 0 auto;
          br { display: initial; }
        }
      }
    }
  }
}