.projects
  - for (var i=0; i<10; i++)
    .projects__project.project
      a.project__thumb(href="#" style="background-image: url('assets/images/projects/jjdolans.jpg');")
      a.project__text(href="#")
        h4 JJ Dolans