.mfp-close {
  opacity: .8;
  font-family: "Helvetica", sans-serif;
  color: #fff;
  font-weight: 100;
}

.is-active {
  .mfp-container {
    padding: 0;
  }
  .mfp-content {
    padding-top: 3.5rem;
    padding-bottom: $column-gutter;
  }
  &.mfp-bg {
    transform-origin: center bottom;
    transition: all 0.25s ease-out;
    &,
    &.mfp-removing {
      transform: translateY(100%);
      opacity: 0;
    }
    &.mfp-ready {
      opacity: .85;
      transform: translateY(0);
    }
  }

  &.mfp-wrap {
    &.mfp-ready .mfp-content {
      opacity: 1;
      transform: translateY(0);
    }
    &.mfp-removing .mfp-content {
      opacity: 0;
    }
    .mfp-content {
      opacity: 0;
      transform: translateY($column-gutter);
      transition: all 1s ease-out .25s;
    }
  }
}