$easeOutExpo:            cubic-bezier(0.19, 1, 0.22, 1);
$column-gutter:          1rem;
$sectionBaseZ:           100;

$mq-split:               920px;

$body-font-family:       "adelle-sans", "Helvetica Neue", Arial, Helvetica, Verdana, sans-serif;
$title-font-family:      "kepler-std-extended-display", serif;
$header-font-family:     $body-font-family;

$c-primary:              #1E4355;
$c-bg-color:             #eee;

* {
  box-sizing: border-box;
}

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

%plainlist {
  list-style: none;
  margin: 0;
  padding: 0;
}

%reset-header-margin {
  h1,h2,h3,h4,h5,h6 { margin: 0; }
}


@lost gutter $column-gutter;