$easeOutExpo:            cubic-bezier(0.19, 1, 0.22, 1);
$column-gutter:          2rem;
$sectionBaseZ:           100;

$row-width:              1200px;
$row-width--inner:       820px;

$mq-small:               768px;

$body-font-family:       "ff-tisa-web-pro", sans-serif;
$header-font-family:      "museo-sans", "Helvetica Neue", Arial, Helvetica, Verdana, sans-serif;

$c-primary:              #999;
$c-secondary:            #6b5d57;
$c-bg-color:             #fff;
$c-body-font:            #222;

* {
  box-sizing: border-box;
}

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

%plainlist {
  list-style: none;
  margin: 0;
  padding: 0;
}

@lost gutter $column-gutter;