$easeOutExpo:            cubic-bezier(0.19, 1, 0.22, 1);
$column-gutter:          32px;
$sectionBaseZ:           100;

$row-width:              1200px;
$row-width--inner:       820px;
$mobile-width:           768px;
$mobile-width--max:      767px;
$phone-width:            480px;
$phone-width--max:       479px;

$body-font-family:        "museo-sans", "Helvetica Neue", Helvetica, sans-serif;

$c-primary:                     #F24C27;
$c-secondary:                   #374140;
$c-palette-supplement-01:       #3498DB;
$c-palette-supplement-02:       #2980B9;
$c-bg-color:                    #eee;
$c-bg-color--dark:              #1E1E20;
$c-bg-color--dark-02:           #444;
$c-bg-color--light:             #eee;
$c-body-font:                   #1E1E20;
$c-body-font--light:            #fff;
$c-body-font--light-secondary:  #aaa;
$c-border:                      #ddd;

* {
  box-sizing: border-box;
}

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

%plainlist {
  list-style: none;
  margin: 0;
  padding: 0;
}

@lost gutter $column-gutter;