*, *:before, *:after {
  box-sizing: border-box;
}

html,
body {
  font-size: 90%;
}

@media screen and (min-width: $row-width) {
  html,
  body {
    font-size: 100%;
  }
}

body {
  font-family: $body-font-family;
  background: $c-bg-color;
  color: $c-body-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  letter-spacing: .05rem;
}

img {
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
  display: inline-block;
  vertical-align: middle;
  user-select: none;
}

::selection {
  background: color(#333 a(.75));
  color: #eee;
}

a {
  text-decoration: underline;
  color: $c-primary;
  &:hover {
    text-decoration: none;
  }
  &:focus {
    outline: $c-primary auto 5px;
  }
}