.about-me {
  padding: 0 $column-gutter;
  margin: calc($column-gutter*2) 0;
  line-height: 2;
  &__container {
    lost-center: $row-width;
  }
  &__title {
    font-weight: 500;
    margin-top: 0;
  }
  &__headline {
    position: relative;
    font-size: 1.5rem;
    p {
      font-size: inherit !important;
    }
    img {
      display: none;
    }
  }
  p {
    font-size: 1.15rem;
    font-weight: 300;
    strong {
      font-weight: 500;
    }
  }
  a {
    text-decoration: none;
    &:hover {
      color: color($c-primary tint(20%) saturation(100%));
    }
  }
  #aloha-shake {
    display: inline-block;
    animation: shake 2s forwards 1.5s;
    #aloha:target ~ & {
      &:after {
        content:"*";
        color: $c-primary;
      }
    }
  }
}

#aloha {
  position: absolute;
  top: 0;
}

@media screen and (min-width: $mobile-width) {
  .about-me {
    &__title {
      font-size: 3rem;
    }
    &__headline {
      font-size: 2rem;
      img {
        position: absolute;
        height: auto;
        right: 0;
        top: 50%;
        z-index: 11;
        display: block;
        height: 200%;
        width: auto;
        transform: translate(0, -50%);
        opacity: 0;
        transition: opacity 1s ease-out 500ms;
        .fonts-loaded & {
          opacity: 1;
        }
      }
      p {
        position: relative;
        z-index: 12;
        padding-right: 12.5%;
      }
    }
    p {
      font-size: 1.5rem;
    }
  }
}

@media screen and (min-width: $row-width) {
  .about-me {
    &__title {
      font-size: 4rem;
    }
    &__headline {
      font-size: 2.5rem;
      img {
        transform: translate(25%, -50%);
      }
    }
    p {
      font-size: 1.75rem;
    }
  }
}
