.footer {
  padding: $column-gutter 0;
  background-size: cover;
  background-position: center center;
  &__container {
    lost-center: $row-width;
    padding: 0 $column-gutter;
  }
  svg {
    mix-blend-mode: multiply;
    text {
      fill: $c-primary;
    }
  }
  p {
    margin: calc($column-gutter/2) 0 0;
    line-height: 1;
    mix-blend-mode: multiply;
    font-weight: 600;
    color: color($c-body-font tint(50%));
    font-size: 3.5vw;
    letter-spacing: .15vw;
  }
  a {
    display: block;
    margin-top: calc($column-gutter/4);
    position: relative;
    mix-blend-mode: multiply;
    white-space: nowrap;
    color: color($c-body-font tint(66.66%));
    text-decoration: none;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    padding: calc($column-gutter*2) 0;
    p {
      font-size: 3.5vw;
      letter-spacing: .15vw;
    }
    a {
      display: inline;
      margin-top: 0;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      padding-left: calc($column-gutter/2);
      padding-right: calc($column-gutter/2);
      transition: border 250ms ease-out;
      &:before,
      &:after {
        content: "";
        position: absolute;
        width: 0;
        height: 4px;
        opacity: 0;
        background-color: $c-primary;
        transition: all 250ms ease-out;
      }
      &:before {
        top: 0;
        left: 0;
      }
      &:after {
        bottom: 0;
        right: 0;
      }
      &:hover {
        border-left-color: $c-primary;
        border-right-color: $c-primary;
        &:before,
        &:after {
          width: 100%;
          opacity: 1;
        }
      }
    }
  }
}

@media screen and (min-width: $row-width) {
  .footer {
    p {
      font-size: 2.5rem;
      letter-spacing: .1rem;
    }
  }
}