.intro {
  position: relative;
  z-index: 300;
  padding: 0 0 0 $column-gutter;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &__container {
    lost-center: $row-width;
    /* display: flex; */
  }
  &__column {
    /* lost-column: 1/2 2 0; */
    &:first-of-type {
      background: $c-secondary;
      color: color($c-secondary tint(90%));
    }
    &:last-of-type {
      padding: $column-gutter 0;
      background-color: #fff;
    }
    h1 {
      margin: 0;
    }
  }
  &__block {
    line-height: 1.5;
    padding: 0 $column-gutter;
    &--open {
      display: flex;
      height: 100%;
      align-items: center;
      justify-content: center;
      h1 {
        color: $c-secondary;
        font-size: 3rem;
        margin: 0;
        line-height: .9;
        a {
          text-decoration: none;
          &:hover {
            color: color($c-primary shade(10%));
          }
        }
        span {
          display: block;
          font-size: 1.25rem;
          color: color($c-secondary tint(80%));
        }
      }
    }
    &--boxed {
      padding-top: $column-gutter;
      padding-bottom: $column-gutter;
      font-size: 1.25rem;
      font-weight: 300;
      p {
        &:first-of-type {
          margin-top: 0;
          font-size: 1.5rem;
        }
        &:last-of-type {
          margin-bottom: 0;
        }
      }
      ul {
        line-height: 1.15;
        li {
          margin-bottom: calc($column-gutter/4);
        }
      }
      a {
        margin-top: $column-gutter;
      }
    }
  }
}

@media screen and (min-width: $phone-width) {
  .intro {
    &__block {
      &--open {
        h1 {
          font-size: 7rem;
          line-height: .85;
          span {
            font-size: 2rem;
          }
        }
      }
    }
  }
}


@media screen and (max-width: 370px) {
  .intro {
    &__column {
      &:first-of-type {
        &:before {
          top: 0;
          left: -$column-gutter;
          width: $column-gutter;
          height: $column-gutter;
          background-color: $c-bg-color--dark;
        }
      }
    }
  }
}

@media screen and (max-width: $mobile-width--max) {
  .intro {
    &__column {
      position: relative;
      transform: none !important;
      &:before,
      &:after {
        content: "";
        position: absolute;
        z-index: -1;
      }
      &:first-of-type {
        &:after {
          top: $column-gutter;
          right: $column-gutter;
          width: 100%;
          height: 100%;
          background-color: #fff;
        }
      }
      &:last-of-type {
        right: $column-gutter;
        &:after {
          right: -$column-gutter;
          bottom: 0;
          width: $column-gutter;
          height: 100%;
          background-color: $c-bg-color--dark;
        }
      }
    }
  }
}

@media screen and (min-width: $mobile-width) {
  .intro {
    padding: 0 $column-gutter;
    margin-top: -$column-gutter;
    margin-bottom: calc(-$column-gutter*4);
    &__container {
      display: flex;
    }
    &__column {
      lost-column: 1/2 2 0;
      position: relative;
      &:first-of-type {
        z-index: 320;
        lost-move: 1/2 0 0;
        transform: translateX(-16px);
      }
      &:last-of-type {
        z-index: 310;
        top: $column-gutter;
        lost-move: -1/2 0 0;
        transform: translateX(16px);
      }
    }
    &__block {
      padding: 0 calc($column-gutter*2);
      &--boxed {
        padding-top: calc($column-gutter*2);
        padding-bottom: calc($column-gutter*4);
        border-bottom: $column-gutter solid color($c-secondary shade(30%));
        &:before,
        &:after {
          content: "";
          position: absolute;
          left: 0;
          display: block;
          height: $column-gutter;
          width: 100%;
        }
        &:before {
          bottom: $column-gutter;
          background-color: color($c-secondary shade(20%));
        }
        &:after {
          bottom: calc($column-gutter*2);
          background-color: color($c-secondary shade(10%));
        }
      }
    }
  }
}