.intro {
  position: relative;
  z-index: 300;
  background-color: #fff;
  padding: calc($column-gutter*2) $column-gutter;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &__container {
    lost-center: $row-width;
  }
  &__column {
    overflow: hidden;
    background-color: #fff;
    &:last-of-type {
      margin-top: calc($column-gutter/2);
    }
    h1 {
      margin: 0;
    }
  }
  &__block {
    line-height: 1.5;
    &--open {
      display: flex;
      height: 100%;
      align-items: center;
      justify-content: center;
      h1 {
        color: $c-secondary;
        font-size: 3rem;
        margin: 0;
        line-height: .9;
        a {
          text-decoration: none;
          &:hover {
            color: color($c-primary shade(10%));
          }
        }
        span {
          display: block;
          font-size: 1.25rem;
          color: color($c-secondary tint(80%));
        }
      }
    }
    &--boxed {
      font-size: 1.25rem;
      font-weight: 300;
      p {
        &:first-of-type {
          margin-top: 0;
          font-size: 1.5rem;
        }
        &:last-of-type {
          margin-bottom: 0;
        }
      }
      ul {
        line-height: 1.15;
        li {
          margin-bottom: calc($column-gutter/4);
        }
      }
      a {
        margin-top: $column-gutter;
      }
    }
  }
}

@media screen and (min-width: $phone-width) {
  .intro {
    &__block {
      &--open {
        h1 {
          font-size: 7rem;
          line-height: .85;
          span {
            font-size: 2rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $mobile-width--max) {
  .intro {
    &__column {
      transform: none !important;
    }
  }
}

@media screen and (min-width: $mobile-width) {
  .intro {
    background-color: initial;
    padding: 0 $column-gutter;
    margin-top: -$column-gutter;
    margin-bottom: calc(-$column-gutter*4);
    &__container {
      display: flex;
    }
    &__column {
      lost-column: 1/2 2 0;
      position: relative;
      border-radius: 8px;
      &:first-of-type {
        z-index: 310;
        top: $column-gutter;
        transform: translateX(16px);
      }
      &:last-of-type {
        z-index: 320;
        transform: translateX(-16px);
      }
    }
    &__block {
      padding: 0 calc($column-gutter*2);
      &--boxed {
        padding-top: calc($column-gutter*3);
        padding-bottom: calc($column-gutter*3);
        border-bottom: $column-gutter solid color(#fff shade(15%));
        border-left: $column-gutter solid color(#fff shade(10%));
/*         &:before,
        &:after {
          content: "";
          position: absolute;
          left: 0;
          display: block;
          height: $column-gutter;
          width: 100%;
        }
        &:before {
          bottom: $column-gutter;
          background-color: color(#fff shade(20%));
        }
        &:after {
          bottom: calc($column-gutter*2);
          background-color: color(#fff shade(10%));
        } */
      }
    }
  }
}