.intro {
  position: relative;
  z-index: 300;
  margin-top: -$column-gutter;
  margin-bottom: calc(-$column-gutter*2);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &__container {
    lost-center: $row-width;
    display: flex;
  }
  &__column {
    lost-column: 1/2 2 0;
    &:first-of-type {
      margin: $column-gutter 0;
      padding: $column-gutter 0;
      background-color: #fff;
    }
    &:last-of-type {
      background: $c-secondary;
      color: color($c-secondary tint(90%));
    }
    h1 {
      margin: 0;
    }
  }
  &__block {
    line-height: 1.5;
    padding: 0 calc($column-gutter*2);
    &--open {
      display: flex;
      height: 100%;
      align-items: center;
      justify-content: center;
      h1 {
        color: $c-secondary;
        font-size: 7rem;
        margin: 0;
        line-height: .85;
        span {
          display: block;
          font-size: 2rem;
          color: color($c-secondary tint(80%));
        }
      }
    }
    &--boxed {
      padding-top: calc($column-gutter*2);
      padding-bottom: calc($column-gutter*2);
      font-size: 1.25rem;
      font-weight: 300;
      p {
        &:first-of-type {
          margin-top: 0;
          font-size: 1.5rem;
        }
        &:last-of-type {
          margin-bottom: 0;
        }
      }
      ul {
        line-height: 1.15;
        li {
          margin-bottom: calc($column-gutter/4);
        }
      }
      a {
        margin-top: $column-gutter;
      }
    }
  }
}