.projects {
  padding: calc($column-gutter*2) $column-gutter;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &__container {
    lost-center: $row-width;
    lost-utility: clearfix;
  }
  &__title {
    padding: calc($column-gutter*2) $column-gutter;
    position: relative;
  }
  &__list {
    lost-utility: clearfix;
    margin-bottom: $column-gutter;
  }
  &__sublist {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    height: 1.25rem;
    img {
      height: 100%;
      width: auto;
      max-width: 12rem;
    }
  }
  &--main {
    background-color: $c-bg-color--dark;
    color: $c-body-font--light;
  }
}

@media screen and (min-width: $phone-width) {
  .projects {
    &__sublist {
      height: 1.5rem;
    }
  }
}

@media screen and (min-width: $mobile-width) {
  .projects {
    padding-top: calc($column-gutter*4);
    padding-bottom: calc($column-gutter*4);
    &__list {
      position: relative;
      lost-utility: clearfix;
      margin-bottom: calc($column-gutter*2);
    }
    &__title {
      margin-bottom: $column-gutter;
    }
    &__sublist {
      height: 3rem;
      justify-content: space-around;
      margin-right: 0;
    }
  }
}

.project {
  margin-bottom: $column-gutter;
  &__image {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    padding: calc($column-gutter/2) $column-gutter;
    background-color: $c-primary;
    background-size: cover;
    background-position: center center;
    border-radius: 4px;
    overflow: hidden;
    transition: box-shadow 150ms ease-out;
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      z-index: 210;
      width: 100%;
      height: 100%;
      background-color: color($c-primary a(0));
      transition: background 150ms ease-out;
    }
    img {
      position: relative;
      z-index: 220;
      height: 4rem;
      max-width: 100%;
      max-height: 100%;
    }
    .projects--main & {
      box-shadow: 0 1px 0 color($c-primary a(.2)) inset, 0 8px 16px color(#000 a(.5));
      &:hover,
      &:focus {
        box-shadow: 0 1px 0 color($c-primary a(.2)) inset, 0 8px 32px color(#000 a(.5));
        &:after {
          background-color: color($c-primary a(.125));
        }
      }
    }
    .projects--snippets & {
      box-shadow: 0 1px 0 color(#fff a(.5)) inset, 0 8px 16px color(#000 a(.25));
      &:hover,
      &:focus {
        box-shadow: 0 1px 0 color(#fff a(.5)) inset, 0 8px 24px color(#000 a(.35));
        &:after {
          background-color: color(#fff a(.0625));
        }
      }
    }
  }
  &__title {
    margin: calc($column-gutter/4) 0 0;
    h2 {
      margin: 0;
      span {
        font-weight: 200;
        font-size: .85rem;
        color: $c-body-font--light-secondary;
        margin-left: calc($column-gutter/4);
      }
      .projects--main & {
        font-size: 1.15rem;
      }
      .projects--snippets & {
        font-size: .9rem;
      }
    }
  }
}

@media screen and (min-width: $phone-width) {
  .project {
    .projects--main &,
    .projects--snippets & {
      lost-column: 1/2 2;
    }
    &__image {
      height: 160px;
    }
  }
}

@media screen and (min-width: $mobile-width) {
  .project {
    margin-bottom: $column-gutter;
    .projects--main & {
      lost-column: 1/3 3;
    }
    .projects--snippets & {
      lost-column: 1/4 4;
    }
    &:nth-last-of-type(-n+3) {
      margin-bottom: 0;
    }
    &__image {
      height: 200px;
      padding: $column-gutter;
    }
    &__title {
      margin-top: calc($column-gutter/2);
    }
  }
}