.projects {
  padding: calc($column-gutter*2) $column-gutter;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &__container {
    lost-utility: clearfix;
  }
  &__title {
    padding: calc($column-gutter*2) $column-gutter;
    position: relative;
  }
  &__list {
    lost-utility: clearfix;
  }
  &__sublist {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    height: 1.25rem;
    margin-top: calc($column-gutter*2);
    img {
      height: 100%;
      width: auto;
      max-width: 12rem;
    }
  }
  &--main {
    color: $c-body-font--light;
  }
  &--snippets {
    background-color: $c-bg-color--light;
    .projects__container {
      lost-center: $row-width;
    }
  }
}

@media screen and (min-width: $phone-width) {
  .projects {
    &__sublist {
      height: 1.5rem;
      margin-top: 0;
    }
  }
}

@media screen and (min-width: $mobile-width) {
  .projects {
    padding-top: calc($column-gutter*4);
    padding-bottom: calc($column-gutter*4);
    &__list {
      position: relative;
      lost-utility: clearfix;
      margin-bottom: calc($column-gutter*2);
    }
    &__title {
      margin-bottom: $column-gutter;
    }
    &__sublist {
      height: 3rem;
      justify-content: space-around;
      margin-right: 0;
    }
  }
}

.project {
  margin-bottom: $column-gutter;
  &:last-of-type {
    margin-bottom: 0;
  }
  &__image {
    display: block;
    position: relative;
    padding: calc($column-gutter/2) $column-gutter;
    background-color: $c-primary;
    background-size: cover;
    background-position: center center;
    transition: box-shadow 150ms ease-out;
    outline: none;
    height: 0;
    &,
    &:after {
      border-radius: 4px;
      overflow: hidden;
    }
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      z-index: 220;
      width: 100%;
      height: 100%;
      background-color: $c-bg-color--dark;
      transition: background 750ms ease-out;
    }
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 0 $column-gutter;
      z-index: 250;
      max-height: 4rem;
      max-width: 100%;
    }
    .projects--main & {
      padding-bottom: 66%;
      background-blend-mode: hard-light;
      box-shadow: 0 1px 0 color($c-bg-color--dark a(.2)) inset, 0 8px 16px color(#000 a(.5));
      &:hover {
        box-shadow: 0 1px 0 color($c-bg-color--dark a(.2)) inset, 0 8px 32px color(#000 a(.5));
        &:after {
          transition-duration: 150ms;
          background-color: color(#fff a(.1));
        }
      }
      &:active,
      &:focus {
        &:after {
          transition-duration: 150ms;
          background-color: color($c-bg-color--dark a(.5));
        }
      }
    }
    .projects--snippets & {
      padding-bottom: 50%;
      box-shadow: 0 1px 0 color(#fff a(.5)) inset, 0 8px 16px color(#000 a(.25));
      &:hover {
        box-shadow: 0 1px 0 color(#fff a(.5)) inset, 0 8px 24px color(#000 a(.35));
        &:after {
          transition-duration: 150ms;
          background-color: color(#fff a(.125));
        }
      }
      &:active,
      &:focus {
        &:after {
          transition-duration: 150ms;
          background-color: color(#fff a(.25));
        }
      }
    }
    &.lazyloaded {
      &:after {
        background-color: color($c-bg-color--dark a(0));
      }
    }
    .no-js & {
      display: none;
    }
  }
  &__title {
    margin: calc($column-gutter/4) 0 0;
    h2 {
      margin: 0;
      span {
        font-weight: 200;
        font-size: .85rem;
        color: $c-body-font--light-secondary;
        margin-left: calc($column-gutter/4);
      }
      .projects--main & {
        font-size: 1.15rem;
      }
      .projects--snippets & {
        font-size: .9rem;
      }
    }
    .no-js & {
      display: none;
    }
  }
  &__noscript {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 240px;
    text-align: center;
    padding: $column-gutter;
    background-size: cover;
    background-position: center center;
    text-decoration: none;
    transition: all 150ms ease-out;
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      z-index: 210;
      width: 100%;
      height: 100%;
      background-color: color(#000 a(.5));
    }
    h2 {
      position: relative;
      z-index: 240;
      span {
        display: block;
        font-size: 1rem;
        color: #fff;
      }
    }
    &:hover {
      box-shadow: 0 0 0 2px $c-bg-color--dark inset;
    }
  }
}

@media screen and (min-width: $phone-width) {
  .project {
    margin-bottom: $column-gutter;
    lost-column: 1/2 2;
  }
}

@media screen and (min-width: $mobile-width) {
  .project {
    margin-bottom: $column-gutter;
    .projects--main & {
      lost-column: 1/3 3;
    }
    .projects--snippets & {
      lost-column: 1/4 4;
    }
    &:nth-last-of-type(-n+3) {
      margin-bottom: 0;
    }
    &__image {
      padding: $column-gutter;
    }
    &__title {
      /* margin-top: calc($column-gutter/2); */
    }
  }
}