.projects {
  padding: $column-gutter;
  background-color: #222;
  color: #fff;
  &__container {
    lost-center: $row-width;
    lost-utility: clearfix;
  }
  &__title {
    padding: calc($column-gutter*2) $column-gutter;
    position: relative;
  }
}

@media screen and (min-width: $mobile-width) {
  .projects {
    &__list {
      position: relative;
      lost-utility: clearfix;
    }
    &__title {
      margin-bottom: $column-gutter;
    }
  }
}

.project {
  margin-bottom: $column-gutter;
  &__image {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 180px;
    padding: $column-gutter;
    background-color: $c-primary;
    background-size: cover;
    background-position: center center;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 1px 1px #000, 0 8px 16px color(#000 a(.25));
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      z-index: 210;
      width: 100%;
      height: 100%;
      background-color: color($c-primary a(0));
      transition: background 150ms ease-out;
    }
    img {
      position: relative;
      z-index: 220;
      height: 4rem;
      max-width: 100%;
      max-height: 100%;
    }
    &:hover:after {
      background-color: color($c-primary a(.25));
    }
  }
  &__title {
    margin: calc($column-gutter/4) 0 0;
    h2 {
      margin: 0;
      font-size: 1rem;
      span {
        font-weight: 200;
        font-size: .85rem;
        color: #aaa;
        margin-left: calc($column-gutter/4);
      }
    }
  }
}

@media screen and (min-width: $mobile-width) {
  .project {
    lost-column: 1/2 2 $column-gutter;
    margin-bottom: $column-gutter;
    &__image {
      height: 360px;
    }
    &__title {
      margin-top: calc($column-gutter/2);
    }
  }
}