.recognition {
  padding: 0 $column-gutter;
  margin-bottom: calc($column-gutter*4);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &__container {
    lost-center: $row-width;
    lost-utility: clearfix;
  }
}