.splash {
  height: 320px;
  padding: 0 calc($column-gutter*2);
  overflow: hidden;
  &__container {
    lost-center: $row-width;
    display: flex;
    height: 100%;
    align-items: flex-end;
    justify-content: center;
  }
  &__silhouette {
    position: relative;
    z-index: 200;
    background-color: #222;
    color: #fff;
    height: 240px;
    transform: translateY(1px);
    box-shadow: 0 0 0 1px inset;
    opacity: 0;
    transition: 150ms ease-out opacity;
    &.lazyloaded {
      opacity: 1;
    }
    svg {
      position: relative;
      z-index: 210;
      display: block;
      height: 100%;
      width: auto;
    }
  }
}

@media screen and (min-width: $mobile-width) {
  .splash {
    height: 100vh;
    min-height: 420px;
    &__silhouette {
      height: 80vh;
      min-height: 336px;
    }
  }
}