.splash {
  height: 320px;
  padding: 0 calc($column-gutter*2);
  overflow: hidden;
  &__container {
    lost-center: $row-width;
    display: flex;
    height: 100%;
    align-items: flex-end;
    text-align: center;
    justify-content: center;
  }
  &__silhouette {
    /* background-color: #222; */
    background-image:
      radial-gradient(
        circle at bottom right,
        $c-primary,
        yellow
      );
    height: 240px;
    box-shadow: 0 0 0 1px #fff inset;
    transform: translateY(1px);
    svg {
      display: block;
      height: 100%;
      width: auto;
    }
  }
}

@media screen and (min-width: $mobile-width) {
  .splash {
    height: 100vh;
    min-height: 420px;
    &__silhouette {
      height: 80vh;
      min-height: 336px;
    }
  }
}