.splash {
  height: 420px;
  padding: 0 $column-gutter;
  overflow: hidden;
  color: #fff;
  &__container {
    position: relative;
    lost-center: $row-width;
    display: flex;
    height: 100%;
    align-items: flex-end;
    justify-content: center;
  }
  &__box-bg {
    position: absolute;
    top: 50%;
    left: -$column-gutter;
    background-color: color($c-secondary a(.25));
    height: calc(9rem + 2*$column-gutter);
    width: calc(100% + 2*$column-gutter);
    transform: translateY(-50%) rotate(-2deg);
  }
  &__title {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 250;
    height: 100%;
    display: flex;
    align-items: center;
    h1 {
      position: relative;
      z-index: 260;
      margin: 0;
      line-height: 1;
      font-size: 3rem;
      font-weight: 500;
    }
  }
  &__silhouette {
    position: relative;
    z-index: 200;
    color: #fff;
    height: calc(420px * .85);
    opacity: 0;
    transform: scale(1.2);
    transition: 1000ms ease-out all;
    svg {
      position: relative;
      right: 5%;
      z-index: 210;
      display: block;
      height: 100%;
      width: auto;
    }
    &.lazyloaded {
      opacity: 1;
      transform: scale(1);
    }
    .no-js & {
      animation: fadeIn 2s forwards 2s;
    }
  }
}

@media screen and (min-width: $mobile-width) {
  .splash {
    height: 100vh;
    min-height: 420px;
    padding: 0 calc($column-gutter*2);
    &__title {
      h1 {
        font-size: 4.5rem;
      }
    }
    &__silhouette {
      height: 85vh;
      min-height: 336px;
    }
  }
}