include ../_modules/_Modules.jade
block vars
  - var bodyTemplate = "default"
  - var pageTitle = ""

doctype
html.standby-for-fonts
  head
    title Taylor Ho | front-end developer and designer#{pageTitle ? " - " + pageTitle : ""}
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(type="text/css" rel="stylesheet" href="assets/css/app.css")
    script(src="assets/js/vendor/modernizr.js")
    script(src="https://use.typekit.net/odk2uwz.js")
    //- include ../shared/_favicon
    //- include ../shared/_seo
    block additionalHead

  body(data-template="#{bodyTemplate}")
    //- include ../shared/_google-analytics
    block content
    script(src="//cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js")
    script.
      window.TimelineMax || document.write('<script src="assets/js/vendor/TweenMax.min.js">\x3C/script>')
    script(src="assets/js/app.js")