include ../_modules/_mixins.jade
block vars
  - var bodyTemplate = "default"
  - var pageTitle = ""

doctype
html
  head
    title Taylor Ho portfolio#{pageTitle ? " - " + pageTitle : ""}
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    script(src="assets/js/modernizr.js")
    link(type="text/css" rel="stylesheet" href="assets/css/app.css")
    include ../shared/_typekit
    //- include ../shared/_favicon
    //- include ../shared/_seo
    block additionalHead

  body(data-template="#{bodyTemplate}")
    .spritesheet
      include ../../../tmp/sprite.svg
    //- include ../shared/_google-analytics
    include ../shared/_navigation
    main.main
      block content