include ../_modules/_Modules.jade
block vars
  - var bodyTemplate = "default"
  - var pageTitle = ""

doctype
html.standby-for-fonts
  head
    title Taylor Ho | front-end developer and designer#{pageTitle ? " - " + pageTitle : ""}
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(type="text/css" rel="stylesheet" href="/assets/css/app.css")
    script(src="https://use.typekit.net/odk2uwz.js")
    //- include ../shared/_favicon
    //- include ../shared/_seo
    script.
      if (typeof Array.from === 'undefined') {
        var es6Script = document.createElement('script');
        es6Script.async = false;
        es6Script.src = 'assets/js/vendor/babel-es6-polyfill.js';
        document.head.appendChild(es6Script);
      }
    block additionalHead

  body(data-template="#{bodyTemplate}")
    include ../shared/_google-analytics
    nav.header-nav
      .header-nav__container
        a.header-nav__logo(href="/") Taylor Ho <span>portfolio</span>
        ul.header-nav__list
          li
            a.header-nav__link(href="/about.html") ABOUT
    block content
    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.slim.min.js")
    script.
      window.jQuery || document.write('<script src="/assets/js/vendor/jquery.slim.min.js">\x3C/script>')
    script(src="//cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js")
    script.
      jQuery.magnificPopup || document.write('<script src="/assets/js/vendor/jquery.magnific-popup.min.js">\x3C/script>')
    script(src="//cdnjs.cloudflare.com/ajax/libs/wallop/2.2.4/js/Wallop.min.js")
    script.
      window.Wallop || document.write('<script src="/assets/js/vendor/Wallop.min.js">\x3C/script>')
    script(src="//cdnjs.cloudflare.com/ajax/libs/gsap/1.18.5/TweenMax.min.js")
    script.
      window.TweenMax || document.write('<script src="/assets/js/vendor/TweenMax.min.js">\x3C/script>')
    script(src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/animation.gsap.min.js")
    script.
      window.ScrollMagic || document.write('<script src="/assets/js/vendor/ScrollMagic.min.js">\x3C/script><script src="/assets/js/vendor/animation.gsap.min.js">\x3C/script>')
    script(src="/assets/js/app.js")