footer.footer
  .footer__contact.contact
    .contact__bg
    .contact__container
      .contact__column
        h2.contact__title Looking for a front-end developer &amp; engineer?
      .contact__column
        a.contact__link(href="mailto:taylorkmho@gmail.com?subject=Oy!") Let&rsquo;s chat
  .footer__social-media.social-media
    ul.social-media__list
      li.social-media__item: a(href="http://github.com/taylorkmho" target="_blank"): include ../../assets/images/svg/icon-github.svg
      li.social-media__item: a(href="http://codepen.io/tellaho/" target="_blank"): include ../../assets/images/svg/icon-codepen.svg
      li.social-media__item: a(href="http://linkedin.com/in/taylorho" target="_blank"): include ../../assets/images/svg/icon-linkedin.svg
      li.social-media__item: a(href="http://dribbble.com/tho" target="_blank"): include ../../assets/images/svg/icon-dribbble.svg
      li.social-media__item: a(href="http://twitter.com/tellaho_" target="_blank"): include ../../assets/images/svg/icon-twitter.svg
      li.social-media__item: a(href="http://instagram.com/tellaho" target="_blank"): include ../../assets/images/svg/icon-instagram.svg
      li.social-media__item: a(href="http://medium.com/@tkmh" target="_blank"): include ../../assets/images/svg/icon-medium.svg
  .footer__copyright.copyright
    p &copy; 2016 Taylor Ho, respective clients and agencies