.copy {
  color: #fff;
  &__logo {
    display: block;
    height: 2rem;
    margin-bottom: $column-gutter;
    path {
      fill: #fff;
    }
  }
  &__tagline {
    font-size: 1rem;
    line-height: 1.5;
  }
  &__links {
    list-style: none;
    margin: calc($column-gutter*2) 0 0;
    padding: 0;
    li {
      display: inline-block;
      margin-right: $column-gutter;
    }
    a {
      &:not(.btn) {
        color: #fff;
      }
      text-decoration: none;
    }
  }
}