.projects {
  lost-utility: clearfix;
}

.project {
  position: relative;
  z-index: 110;
  width: calc(100% / 3);
  height: 0;
  margin-right: $column-gutter;
  background-color: $c-primary;
  padding: $column-gutter $column-gutter 20%;
  &:before,
  &:after {
    content: "";
    position: absolute;
    right: 0;
    transform: translateX(100%);
    height: calc($column-gutter);
    width: calc($column-gutter);
    background-color: #fff;
  }
  &:before {
    top: 0;
  }
  &:after {
    bottom: 0;
  }
  &__logo {
    display: block;
    height: 3rem;
    margin-bottom: $column-gutter;
    path {
      fill: #fff;
    }
  }
  &__links {
    position: absolute;
    bottom: 0;
    left: 0;
    list-style: none;
    margin: calc($column-gutter*2) 0 0;
    padding: $column-gutter;
    li {
      display: inline-block;
      margin-right: $column-gutter;
    }
    a {
      &:not(.btn) {
        color: #fff;
      }
      text-decoration: none;
    }
  }
}

.flickity {
  &-viewport {
    background-color: color($c-primary shade(10%));
  }
  &-prev-next-button {
    border-radius: 0;
    width: 34px;
    background-color: color(#000 a(.5));
    &:hover {
      background-color: color(#000 a(.6));
    }
    svg {
      top: 10%;
      left: 50%;
      transform: translateX(-50%);
      height: 80%;
      width: auto;
      .arrow {
        fill: #fff;
      }
    }
    &.previous {
      left: 0;
    }
    &.next {
      right: 0;
    }
  }
}