.projects {
  lost-utility: clearfix;
  background-color: $c-body-font;
  color: #fff;
  &__title,
  &__list {
    padding: 0 $column-gutter;
  }
  &__list {
    lost-center: 1264px;
  }
  &__title {
    lost-center: $row-width;
    padding: calc($column-gutter*2) $column-gutter;
    position: relative;
  }
}

@media screen and (min-width: $mq-small) {
  .projects {
    &__list {
      position: relative;
      lost-utility: clearfix;
      /* margin-bottom: 12.5%; */
      padding: 0 $column-gutter;
    }
    &__title {
      margin-bottom: $column-gutter;
    }
  }
}


@media screen and (min-width: $mq-small) {
  .projects {
    &__list {
      top: -18vw;
    }
  }
}

@media screen and (min-width: $row-width) {
  .projects {
    &__list {
      top: -12rem;
    }
  }
}

.project {
  position: relative;
  height: 0;
  background-color: #000;
  background-size: cover;
  margin-bottom: $column-gutter;
  z-index: 100;
  padding: calc($column-gutter/2) calc($column-gutter/2) 25%;

  backface-visibility: hidden;

  &__logo {
    position: relative;
    z-index: 300;
    display: block;
    height: 8vw;
    transition: all 250ms ease-out;
    path {
      fill: #fff;
    }
  }
  &__links {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      margin-right: calc($column-gutter/2);
    }
    a {
      display: block;
      margin-left: -.5rem;
      &:not(.btn) {
        color: #fff;
      }
      text-decoration: none;
    }
  }
  &__screenshot {
    position: absolute;
    top: -.5rem;
    right: -.5rem;
    z-index: 300;
    border-radius: .25rem;
    overflow: hidden;
    box-shadow: 0 0 2rem 0 color(#000 a(.25));
    /* transform: rotate(4deg); */
    transition: transform 250ms ease-out;
    svg {
      position: relative;
      z-index: 150;
      pointer-events: none;
    }
  }
  &__motion,
  &__still {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    transform: translateZ(0);
  }
  &__motion {
    display:none;
  }
}

@media screen and (min-width: 375px) {
  .project {
    &__logo {
      margin-bottom: calc($column-gutter/4);
    }
  }
}

@media screen and (min-width: $mq-small) {
  .project {
    z-index: initial;
    overflow: initial;
    padding: $column-gutter $column-gutter 25%;
    transition: all 250ms ease-out;
    &:hover,
    &.is-active {
      .project__screenshot {
        transform: scale(1.05) rotate(2deg);
      }
    }
    &__logo {
      height: 3rem;
    }
    &__links {
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 300;
      margin: calc($column-gutter*2) 0 0;
      padding: $column-gutter;
    }
    &__screenshot {
      top: 0.5rem;
      right: 2rem;
      border-radius: .75rem;
    }
    &__motion {
      display: block;
      z-index: 110;
    }
    &__still {
      z-index: 120;
      .lazyloaded + & {
        transition: opacity 500ms ease-out;
        .project:hover &,
        .project.is-active & {
          opacity: 0;
        }
      }
    }
  }
}

@media screen and (min-width: $mq-small) {
  .project {
    lost-column: 1/2 2 $column-gutter;
    &:nth-child(2n-1) {
      transform: translateY(50%);
    }
  }
}

.section-title {
  h2 {
    margin: 0;
    font-size: 3rem;
    letter-spacing: .25rem;
  }
  p {
    font-size: 1.25rem;
  }
}

@media screen and (min-width: $mq-small) {
  .section-title {
    &__column {
      lost-column: 1/2 2 $column-gutter;
    }
    h2 {
      margin-bottom: 0;
    }
  }
}

.ui-phone {
  height: 25vw;
  width: auto;
}


@media screen and (min-width: $mq-small) {
  .ui-phone {
    height: 24.75vw;
  }
}

@media screen and (min-width: $row-width) {
  .ui-phone {
    height: 19.5rem;
  }
}